<!DOCTYPE html>
<html>
<head>
	<title>Lyrics Finder</title>

			    <meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet">
		
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<script src="https://unpkg.com/@lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>
</head>
<body>
	<nav class="navbar  navbar-dark navbar-expand-lg" style="background-color: rgb(102, 126, 234);" >
		<div class="container">
			<a href="#" class="navbar-brand">Lyrics Finder</a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" 
			data-target="#navbarResponsive"
			aria-controls="navbarResponsive"  aria-label="Toggle navigation"> 
				<span class="navbar-toggler-icon"></span></button>

			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					
					<li class="nav-item">
						<a href="#about" class="nav-link">About</a>
					</li>
				</ul>
			</div>

		</div>
		
	</nav>

<!-- 	/*nav end*/
 -->
	<!-- /*search*/ -->
	<section class="pt-20 text-gray-700 body-font">
  <div class="container mx-auto flex px-5 pt-50 md:flex-row flex-col items-center">
    <div class="lg:flex-grow md:w-1/2 lg:pr-24 md:pr-16 flex flex-col md:items-center md:text-center mb-16 md:mb-0 items-center text-center">
      <h1 class="title-font font-sans text-center sm:text-8xl text-6xl mb-4 font-bold text-gray-900">Lyrics Finder</h1>
     
           <div class="flex w-full md:justify-center justify-center">
        <input class="bg-gray-100 rounded mr-4 border border-gray-400 focus:outline-none focus:border-indigo-500 text-base px-4 lg:w-full xl:w-1/2 w-2/4 md:w-full" placeholder="Enter song name..." type="text">
        <button class="inline-flex text-white bg-indigo-500 border-0 py-2 px-6 focus:outline-none hover:bg-indigo-600 rounded text-lg">Search</button>
      </div>
      <p class="text-sm mt-2 font-sans text-gray-500 mb-8 w-full">Simple yet ,Efficient Lyric Finder</p>

    </div>
   
  </div>
</section>

<!-- results -->
<section class="text-gray-700 body-font">
  <div class="container px-5 mx-auto">
    
    <div class="flex flex-wrap lg:w-4/5 sm:mx-auto sm:mb-2 -mx-2">
      
    	{% for i in listlyric %}

      <div class="p-2 sm:w-1/2 w-full">
        <div class="bg-gray-200 rounded flex p-4 h-full items-center">
          <svg fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="text-indigo-500 w-6 h-6 flex-shrink-0 mr-4" viewBox="0 0 24 24">
            <path d="M22 11.08V12a10 10 0 11-5.93-9.14"></path>
            <path d="M22 4L12 14.01l-3-3"></path>
          </svg>
          <span class="title-font font-medium">{{i['name']}}</span>
        </div>
      </div>
   {% endfor %}
 
    </div>
   
  </div>
</section>





<!-- /*scripts bundles hello*/ -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>